# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies

.gitignore
cleanR-main
DataBridgesConnect-dev
DataBridgesKnots-main
~$HFC_Report.xlsx
~$qu.xlsx
congo.csv
dummy.xlsx
EGCO_Sudanese_24_HFC.do
HFC_Report.xlsx
qu.xlsx
HFC.py
